/* colors when text is highlighted with cursor */
::selection {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: 'Fugaz One', cursive, 'Times New Roman';
}

/* https://www.pexels.com/search/website%20background/ */

body {
    background-color: rgb(109, 105, 105);
    background-image: url(/Users/scotty/Documents/class/Projects/weather-app/assets/img/pexels-pixabay-258149.jpg);
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: 'Fugaz One', cursive, 'Times New Roman';
    font-size: 100px;
    font-style: italic;
    color: rgb(0, 0, 0);
    letter-spacing: 12px;
    padding-top: 10px;
}

form {
    text-align: center;
    word-spacing: 5px;
    height: 300px;
    padding: 75px 15px 75px 15px;
}

label {
    margin: 10px;
    text-align: center;
    font-size: 40px;
}

input {
    padding: 15px;
    width: 400px;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(14, 66, 210);
    border-radius: 55px;
    opacity: 70%;
}

button {
    margin-top: 20px;
    height: 45px;
    width: 200px;
    cursor: pointer;
    border-radius: 35px;
}

button:hover {
    background-color: #4095c6;
}

#recent-searches {
    margin-top: 40px;
}

#current-city {
    margin-bottom: 40px;
    opacity: 80%;
}

#five-day {
    width: 100%;
    text-align: center;
    opacity: 80%;
}